* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #222;
  background-image: linear-gradient(to right, #333 1px, transparent 1px), linear-gradient(to bottom, #333 1px, transparent 1px);
  background-size: 4vh 4vh;
  overflow: hidden;
}
.cursor {
  position: absolute;
  pointer-events: none;
}
.box {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00ff9a;
  box-shadow: 0 0 15px #00ff9a, 0 0 50px #00ff9a;
}