* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.login-container {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  width: 350px;
  color: #ffffff;
  text-align: center;
}
.login-form p {
  font-size: 24px;
  margin-bottom: 25px;
  color: #dddddd;
}
.login-form input {
  padding: 12px 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  width: 100%;
  background-color: #ffffff20;
  color: #ffffff;
  outline: none;
}
.login-form input::placeholder {
  color: #dddddd;
}
.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  margin-bottom: 20px;
}
.options label {
  display: flex;
  align-items: center;
}
.options a {
  color: #eeeeee;
  text-decoration: none;
}
.login-form button {
  padding: 12px;
  background-color: #2a5298;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.login-form button:hover {
  background-color: #21618c;
}