* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.grid {
  display: grid;
  position: relative;
  justify-content: center;
  grid-template-columns: repeat(10, 50px);
  grid-gap: 5px;
}
.grid-cell {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #555;
  transition: all 0.3s ease;
}
.grid-cell.active {
  background: #41ff60;
  border: 2px solid #222;
}