* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #202020;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 25px;
  background: #333;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
.loader::before {
  content: '';
  position: absolute;
  top: -20%;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transform: skewX(-15deg);
  border-bottom-right-radius: 50%;
}
.loader .lines {
  position: absolute;
  width: 90px;
  height: 90px;
  animation: animate 1s steps(24) infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader .lines span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(calc(-15deg * var(--i)));
  opacity: calc(1 - var(--i) * 0.05);
}
.loader .lines span::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 16px;
  left: 50%;
  border-radius: 4px;
  background: #0fff20;
  transform: translateX(-50%);
  animation: animateColor 4s linear infinite;
}
@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}